.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: #fff;
    padding: 20px;
    z-index: 10;
    width: 70%;
    transition: .5s;
}

.close-button {
    font-size: 30px;
}

.technologies ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 5px;
}

.technologies ul li {
  list-style-type: none;
  border: 1px black solid;
  padding: 3px;
  font-size: 15px;
}

.title h2 {
    margin: 20px 0 0 0;
    padding: 0;
    font-size: 30px;
}

.modal-body {
    display: flex;
    margin-top: 30px;
    /* flex-wrap: wrap; */
}

.modal-body img {
    width: 50%;
}

.modal-body p {
    font-size: 16px;
    padding: 0 10px;
    margin: 20px 0 0 0;
}

.iconsbutton {
    font-weight: bold;
}

.footer-popup {
    margin: 3.7rem 10px 10px 10px;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1); 
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}