.btn-style {
  background-color: #ff6b00;
  color: black;
  border: none;
  padding: 15px;
  transition: 0.5s ease;
}

.btn-style1 {
  background-color: #f55800;
  color: black;
  border: none;
  padding: 15px;
  transition: 0.5s ease;
  font-weight: bold;
}

.btn {
  transition: 0.5s ease;
}

.btn:hover {
  background-color: #fff5e1;
  border: 1px #f55800 solid;
  color: #f55800;
  cursor: pointer;
}

.btn:disabled {
  background-color: #f4f1f0;
  color: black;
}

.btn:active {
  background-color: #e05304;
  color: white;
}

.btn-style-btn {
  width: 100vh;
}

.form-multistories img:hover {
  transform: rotate(360deg);
  transition: 1s ease-in;
}

.luang ul li:hover {
  margin-right: 79px;
}

.about-section h3:hover {
  transform: translate(100px);
}

.header-title h1:hover {
  transform: translate(100px);
}

.text-header h2:hover {
  transform: translate(100px);
}

.text-header p:hover {
  transform: translate(100px);
}

.about-section p:hover {
  transform: translate(100px);
}

.logo-plat ul li:hover {
  margin-bottom: 46px;
}

.footer-icon ul li:hover {
  margin: 0 20px;
}

.menu-item ul li a:hover {
  border-bottom: 3px white solid;
}
