@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

body {
  font-family: Poppins, sans-serif;
  margin: 0;
}

header {
  background-color: #1c1a19;
  color: white;
  background-image: url("./Images/illustration-header-mobile.svg");
  background-repeat: no-repeat;
  background-size: 125px;
  background-position: right bottom;
}

.nav-bar {
  background-color: #3c3a39;
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
  align-items: center;
}

section h2 {
  font-family: 'Crete Round', serif;
}

.nav-bar h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-title {
  padding: 8rem 25px;
  line-height: 1.2;
}

.header-title h1 {
  color: #ff6b00;
  font-size: 50px;
  margin: 0;
  padding: 0;
  font-family: 'Crete Round', serif;
}

.header-title h3 {
  color: #fff5e1;
}

.logo-plat {
  margin-top: 30px;
}

.logo-plat ul {
  display: flex;
  padding: 0;
}

.logo-plat ul li {
  list-style-type: none;
}

.container section img {
  width: 100%;
  margin-top: 50px;
}

.logo-plat ul li img {
  margin-right: 20px;
  width: 18px;
}

.container-block {
  padding: 20px;
}

.container-block h2 {
  font-size: 35px;
}

.form-multistories {
  margin-bottom: 5rem;
}

.container h1 {
  padding-top: 50px;
  border-bottom: 1px black solid;
  padding-bottom: 50px;
  font-family: 'Crete Round', serif;
}

.box-bot ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.box-bot ul li {
  border: 1px black solid;
  padding: 10px;
  list-style-type: none;
  margin-left: 5px;
}

section button {
  margin: 10px auto;
  font-weight: bold;
}

.pupopp {
  background-image: url("./Images/Mask-bg.svg");
  color: white;
  line-height: 1.7;
}

.section-art {
  padding: 0 30px;
}

.pupopp h2 {
  font-family: 'Crete Round', serif;
}

.container-poppup button {
  width: 100%;
  margin: 0;
}

.technologies {
  display: flex;
}

.luang ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.luang ul li {
  background-color: rgba(255, 255, 255, 0.342);
  padding: 10px;
  margin-right: 10px;
  list-style-type: none;
}

.about {
  margin: 5rem auto;
  background-color: #1c1a19;
  color: white;
  width: 100%;
}

.about h3 {
  font-size: 30px;
  color: #f55800;
}

.about p {
  color: rgb(173, 173, 173);
}

.about-text {
  background-image: url("./Images/aboutbg.svg");
  background-repeat: no-repeat;
  background-size: 110px;
  background-position: right 19rem;
  padding: 5rem 20px;
}

.about-section {
  padding-bottom: 5rem;
  border-bottom: 1px white solid;
}

.about-section h3 {
  font-family: 'Crete Round', serif;
}

.language {
  display: block;
  padding-bottom: 5rem;
  text-align: center;
}

.cod-language h4 {
  font-weight: bolder;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.cod-language h4::before {
  content: "\25C6";
  margin-right: 10px;
  color: #f55800;
}

.cod-language ul li {
  list-style-type: none;
  line-height: 2;
}

.framework-cod h4 {
  font-weight: bolder;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.framework-cod h4::before {
  content: "\25A0";
  margin-right: 10px;
  color: #f55800;
}

.framework-cod ul li {
  list-style-type: none;
  line-height: 2;
}

.cod-skills h4 {
  font-weight: bolder;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.cod-skills h4::before {
  content: "\25CF";
  margin-right: 10px;
  color: #f55800;
}

.cod-skills ul li {
  list-style-type: none;
  line-height: 2;
}

footer {
  text-align: center;
}

.footer-info {
  padding: 0 20px;
}

.footer-info h3 {
  margin: auto 4rem;
}

.footer-info ul {
  padding: 10px;
}

.footer-info ul li {
  list-style-type: none;
  padding: 0;
}

footer form {
  width: 100%;
  margin: 0;
  padding-bottom: 5rem;
  border-bottom: 1px #dfe1e6 solid;
}

footer form input {
  width: 100%;
  height: 35px;
  margin: 10px auto;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px  #dbd8d7 solid;
}

footer form input::placeholder {
  color: #dbd8d7;
}

footer form textarea {
  border: none;
  background-color: #fbf8f7;
  padding: 20px;
  font-family: Poppins, sans-serif;
  width: 90%;
  margin: 10px 0 20px 0;
}

.submit-form {
  width: 10rem;
}

.btn-center {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon ul li {
  list-style-type: none;
}

.footer-icon ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
