@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

body {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

header {
  background-color: #1c1a19;
  color: white;
  padding: 0;
  background-image: url("./Images/gbwebview.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.small-screen {
  display: none;
}

.larg-screen {
  display: block;
}

.nav-bar {
  background-color: #3c3a39;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
}

.menu-btn {
  display: none;
}

footer form ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.menu-item ul {
  display: flex;
}

footer form ul li {
  width: 100%;
}

.menu-item ul li {
  list-style-type: none;
  margin-right: 30px;
}

.menu-item ul li a {
  color: #fff;
  text-decoration: none;
}

.logo-plat ul {
  padding: 0;
}

.logo-plat ul li {
  list-style-type: none;
  margin-bottom: 20px;
}

.text-header {
  width: 35rem;
  margin-left: 4rem;
  display: grid;
  flex-wrap: wrap;
}

.header-title {
  display: flex;
  padding: 10rem 25px;
  line-height: 1.2;
  align-items: center;
}

section h2 {
  font-family: 'Crete Round', serif;
}

.line-rec-work {
  background-color: black;
  width: 60%;
  height: 3px;
  margin-left: 5rem;
}

.my-tile {
  display: flex;
  align-items: center;
}

.nav-bar h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-title h1 {
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  font-size: 86px;
  margin: 0;
  font-weight: normal;
}

.text-header h3 {
  font-size: 40px;
}

.text-header p {
  color: #bfbfbf;
  line-height: 1.5;
}

.container-block {
  padding: 6rem;
}

.container-block h2 {
  font-size: 40px;
  margin-top: 9.1rem;
  padding: 0;
}

.form-multistories {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.form-multistories img {
  width: 95rem;
}

.img-text {
  padding-left: 5rem;
}

.box-bot ul {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}

.box-bot ul li {
  border: 1px black solid;
  padding: 10px;
  list-style-type: none;
  margin-right: 29px;
  font-size: 22px;
}

.container-poppup button {
  width: 100%;
  margin: 0;
}

.padd-change {
  padding-top: 30rem;
}

.pupopp {
  color: #fff;
  width: 24.5rem;
  margin: 20px 20px 40px 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 28rem;
}

.container-full div:nth-child(3) h2 {
  padding-top: 3rem;
}

.container-full div:nth-child(6) h2 {
  padding-top: 3rem;
}

.second-padd {
  padding-top: 20px;
}

.section-art {
  line-height: 1.2;
  padding: 10px 20px;
}

.section-padding {
  padding-top: 45px;
}

.section-art p {
  font-size: 17px;
  color: rgb(218, 218, 218);
}

.lg-screen .section-art {
  opacity: 0;
}

.luang ul li {
  background-color: rgba(255, 255, 255, 0.342);
  padding: 10px;
  margin-right: 10px;
  list-style-type: none;
}

.cod-language ul li {
  list-style-type: none;
  line-height: 2;
}

.framework-cod ul li {
  list-style-type: none;
  line-height: 2;
}

.cod-skills ul li {
  list-style-type: none;
  line-height: 2;
}

.sumbt ol li {
  list-style-type: none;
}

.pupopp-form1 {
  background-image: url("./Images/portfolio1.svg");
}

.pupopp-form2 {
  background-image: url("./Images/plholder02.svg");
}

.pupopp-form3 {
  background-image: url("./Images/plholder03.svg");
}

.pupopp-form4 {
  background-image: url("./Images/Placeholder5.svg");
}

.luang ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.container-full {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about {
  margin: 5rem auto;
  background-color: #262626;
  color: white;
  width: 100%;
}

.about-text {
  background-image: url("./Images/aboutbgo.svg");
  background-repeat: no-repeat;
  background-size: 35rem;
  background-position: right 8rem;
  padding: 5rem 20px;
}

.about-section {
  width: 30rem;
  margin-left: 5rem;
}

.line-center {
  display: flex;
  justify-content: center;
}

.line {
  border-bottom: 1px white solid;
  width: 88%;
}

.about-section h3 {
  font-size: 72px;
  color: #f55800;
  font-family: 'Crete Round', serif;
  line-height: 32px;
}

.cod-language {
  margin: 30px;
}

.cod-skills {
  margin: 30px;
}

.framework-cod {
  margin: 30px;
}

.cod-language h4 {
  font-weight: bolder;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.cod-language h4::before {
  content: "\25C6";
  margin-right: 10px;
  color: #f55800;
}

.framework-cod h4 {
  font-weight: bolder;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.framework-cod h4::before {
  content: "\25A0";
  margin-right: 10px;
  color: #f55800;
}

.cod-skills h4 {
  font-weight: bolder;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.cod-skills h4::before {
  content: "\25CF";
  margin-right: 10px;
  color: #f55800;
}

.language {
  display: flex;
  justify-content: space-around;
  padding: 7rem 0;
}

.footer-form {
  padding: 5rem;
}

.footer-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-info h3 {
  margin: 0;
  padding: 0 3rem;
  width: 60%;
  font-size: 40px;
  font-weight: bold;
}

footer form {
  width: 100%;
}

footer form textarea {
  border: none;
  background-color: #fbf8f7;
  width: 100%;
  height: 10rem;
}

ol {
  padding: 0;
  margin: 0;
}

.sumbt ol li textarea::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer-icon ul li {
  list-style-type: none;
}

.footer-info form ul li {
  list-style-type: none;
  margin: 0;
  width: 48%;
  border-bottom: 1px solid #dbdbd7;
  padding-bottom: 15px;
}

footer form input {
  border: none;
}

footer form input::placeholder {
  font-size: 15px;
}

.section-art .luang ul li {
  font-size: 10px;
}

.footer-icon {
  border-top: 1px #dfe1e6 solid;
}

.footer-icon ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.btn-pos {
  position: relative;
  bottom: 45px;
}

@media (min-width: 992px) and (max-width: 1100px) {
  header {
    background-size: 30%;
  }

  body {
    font-size: 16px;
  }

  .footer-info h3 {
    font-size: 24px;
    color: #172b4d;
    font-weight: bold;
    text-align: center;
  }

  .box-bot ul {
    display: flex;
    flex-wrap: wrap;
  }

  .box-bot ul li {
    margin-right: 7px;
  }

  .section-art h2 {
    padding-top: 1.3rem;
  }

  .container-full div:nth-child(2) h2 {
    padding-top: 4.5rem;
  }

  .container-full div:nth-child(3) h2 {
    padding-top: 4.5rem;
  }

  .container-full div:nth-child(4) h2 {
    padding-top: 4.5rem;
  }

  .container-full div:nth-child(5) h2 {
    padding-top: 4.5rem;
  }

  .container-full div:nth-child(6) h2 {
    padding-top: 4.5rem;
  }

  .footer-info h3 {
    font-size: 22px;
  }

  .pupopp {
    width: auto;
    margin: 10px 10px 20px 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 28rem;
  }
}

@media (max-width: 650px) and (max-width: 992px) {
  header {
    background-image: url("./Images/illustration-header-mobile.svg");
    background-size: 12rem;
    background-position: right bottom;
  }

  footer form ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .footer-info form ul li {
    width: auto;
  }

  .larg-screen {
    display: none;
  }

  .section-art h2 {
    font-size: 30px;
    padding-top: 2rem;
  }

  .container-full div:nth-child(3) h2 {
    padding-top: 2rem;
  }

  .container-full div:nth-child(6) h2 {
    padding-top: 2rem;
  }

  .small-screen {
    display: block;
  }

  .lg-screen .section-art {
    opacity: 1;
  }

  .pupopp {
    width: auto;
    height: auto;
    margin: auto;
  }

  .pupopp-form1 {
    background-image: url("./Images/Placeholder5.svg");
  }

  .pupopp-form2 {
    background-image: url("./Images/Placeholder5.svg");
  }

  .pupopp-form3 {
    background-image: url("./Images/Placeholder5.svg");
  }

  .menu-item {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .header-title {
    padding: 8rem 25px;
    line-height: 1.2;
    display: flex;
    flex-wrap: wrap;
  }

  .text-header {
    display: flex;
  }

  .text-header h3 {
    color: #fff5e1;
    padding: 0;
    margin-top: 30px;
    font-size: 24px;
  }

  .bnt-center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
  }

  .sumbt ol li button {
    width: 10rem;
  }

  .logo-plat {
    order: 1;
    margin-left: 4rem;
  }

  .logo-plat ul {
    display: flex;
  }

  .logo-plat ul li {
    margin-right: 20px;
  }

  .header-title h1 {
    font-size: 36px;
    margin: 0;
    padding: 0;
  }

  .text-header p {
    font-size: 10px;
  }

  .box-bot ul li {
    padding: 3px;
    margin-right: 10px;
    font-size: 17px;
  }

  .container-block {
    padding: 0rem 1rem 1rem 1rem;
  }

  .line-rec-work {
    width: 90%;
    margin-top: 40px;
    justify-content: center;
  }

  .my-tile {
    display: flex;
    flex-direction: column;
  }

  .form-multistories img {
    width: 100%;
    margin-bottom: 20px;
  }

  .img-text {
    padding: 2rem 0 0 0;
  }

  .box-bot {
    margin-top: 3rem;
  }

  .container-full {
    margin-top: 3rem;
    padding: 0;
  }

  .language {
    display: grid;
  }

  .footer-info {
    display: grid;
  }

  .about-text {
    background-image: url("./Images/aboutbg.svg");
    background-size: 10rem;
    background-position: right bottom;
  }

  .about-section h3 {
    font-size: 35px;
  }

  .footer-info h3 {
    width: 100%;
    padding: 0;
    margin: 0 0 70px 0;
    text-align: center;
  }

  .footer-info form {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  form ol {
    margin: 0;
    padding: 0;
  }

  .about-section {
    width: auto;   
  }

  .footer-info h3 {
    font-size: 19px;
  }

  .about-section p {
    font-size: 13px;
  }

  .about-text {
    background-size: 7rem;
  }
}

@media (max-width: 300px) and (max-width: 650px) {
  .text-header {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .about-text {
    padding: 9rem 30px;
    background-size: 8rem;
  }

  .about-section {
    width: 100%;
    margin: 0;
  }

  .about-section p {
    font-size: 10px;
    width: 100%;
    margin-bottom: 30px;
  }

  .footer-info h3 {
    font-size: 17px;
  }

  .box-bot ul li {
    margin-left: 8px;
    padding: 11px;
    font-size: 13px;
  }

  .section-art h2 {
    font-size: 30px;
    padding-top: 13.9rem;
  }

  .container-block h2 {
    font-size: 28px;
  }


}
