body {
  font-family: sans-serif;
  margin: 0;
}

header {
  background-color: #1c1a19;
  color: white;
  background-image: url("./Images/illustration-header-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-bar {
  background-color: #3c3a39;
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
  align-items: center;
}

.header-title {
  padding: 3rem 25px;
  line-height: 1.2;
}

.header-title h1 {
  color: #ff6b00;
  font-size: 50px;
  margin: 0;
  padding: 0;
}

.header-title h3 {
  color: #fff5e1;
}

.logo-plat {
  margin-top: 30px;
}

.logo-plat img {
  margin-right: 8px;
  width: 18px;
}

.container {
  padding: 20px;
}

.container h1 {
  padding-top: 50px;
  border-bottom: 1px black solid;
  padding-bottom: 50px;
}

.container section img {
  width: 100%;
  margin-top: 50px;
}

.box-bot {
  display: flex;
}

.box-bot div {
  border: 1px black solid;
  padding: 10px;
  margin-right: 10px;
}

section button {
  background-color: #ff6b00;
  color: white;
  padding: 15px;
  border: none;
  margin: 10px auto;
  font-weight: bold;
}

.pupopp {
  background-image: url("./Images/Mask-bg.svg");
  color: white;
  padding: 30px;
  line-height: 1.7;
}

.container-poppup button {
  background-color: #ff6b00;
  width: 100%;
  color: white;
  padding: 15px;
  border: none;
  margin-top: -3px;
}

.luang {
  display: flex;
}

.luang div {
  background-color: rgba(255, 255, 255, 0.342);
  padding: 10px;
  margin-right: 10px;
}

.about {
  margin: 0;
  padding: 20px;
  background-color: #1c1a19;
  color: white;
}
